<div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" style="display: none;" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-sm" type="button">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid padding-bottom-1x">
  <mat-card>
    <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalDefault">Default
      Modal
    </button>
  </mat-card>
</div>

<canvas #rendererCanvas id="renderCanvas" style="background-color: #ccc;color: #000;"></canvas>

<div class="container-fluid" *ngFor="let p of detailedPosts;">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar
           style="background-image:url('https://material.angular.io/assets/img/examples/shiba1.jpg');background-size: cover;">
      </div>
      <mat-card-title>{{p.user.username}}</mat-card-title>
      <mat-card-subtitle>{{p.post.instant}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="width: 90%; height: 90%;"
         [src]="linkPicture+p.post.imageKey+'?'+this.timeStamp" alt="">
    <mat-card-content>
      <p>
        {{p.post.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="icon-heart"></i></button>
      <button mat-button (click)="clickOnComments(p)"><i class="icon-message-square"></i></button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-expansion-panel [expanded]="p.isExpanded" hideToggle class="mat-elevation-z0">
        <ul class="widget-featured-posts" *ngIf="p.comments">
          <mat-card class="entry" *ngFor="let c of p.comments;">
            <div class="entry-thumb">
              <img src="https://miro.medium.com/fit/c/256/256/1*gMTuDxQmsldDmMAQpLD_sQ.jpeg" alt="Post">
            </div>
            <div class="entry-content">
              <a href="#">
                <span class="entry-meta entry-title">by {{c.user.username}} at {{c.comment.instant}} </span>
              </a>
              <p>{{c.comment.content}}</p>
            </div>
          </mat-card>
        </ul>
      </mat-expansion-panel>
    </mat-card-footer>
  </mat-card>
  <hr class="padding-top-2x mt-2">
</div>

